* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* TYPOGRAPHY */
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

/* SECTION SPACING */
.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: #fff;
    transition: 0.2s;

}

body {
    width: 100%;
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* NAVBAR */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: #088178;
}

/* LOGO */
.logo {
    width: 150px;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#hero {
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA3L3Vwd2s2MTg0MzM0NC13aWtpbWVkaWEtaW1hZ2UtbGtocWw2YWIuanBn.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4 {
    padding-bottom: 15px;

}
#hero h1 {
    color:#088178;
}
#hero button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
}
#feature{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    margin: 15px 0 ;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221,0.1 );
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}



#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #e76d77;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #65dcde;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #9a79d7;
}
#feature .fe-box:nth-child(6) h6 {
    background-color: #c1cd57;
}
#product1{
    text-align: center;
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;


}
#product1 .pro span {
    text-align: left;
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #888;
}
#product1 .pro .des h5{
    padding-top: 7px ;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro  i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro  h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 16px;

}
#banner h2 {
    color: #fff;
    font-size: 16px;
    padding: 10px 0;

}
#banner h2 span {
    color: #ef3636;
    font-size: 16px;
    padding: 10px 0;

}
#banner button:hover{
    background: #088178;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(https://media.istockphoto.com/id/901863672/photo/clothes-shop-interior.jpg?s=612x612&w=0&k=20&c=2Xv0bb-igj9sqzsZQgrnBAV3uxPTXmUpZ69MbiCYStY=);
    min-width: 750px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/032/937/137/small/fashion-collection-hanging-in-modern-clothing-store-free-photo.jpg);

}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(https://img.freepik.com/premium-photo/visual-clothing-store-with-stylish-display-latest-fashion-trends_1314467-62432.jpg);
    min-width: 30%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2 {
    background-image: url(https://beijing.doverstreetmarket.com/cdn/shop/files/2F---Comme-des-Garcons-SHIRT-_r_08e47a4d-12ce-4149-9971-5bdb71f5d413.jpg);
}
#banner3 .banner-box3 {
    background-image: url(https://img.freepik.com/premium-photo/women-s-fashion-store-shopping-mall_1112-8147.jpg?semt=ais_hybrid&w=740&q=80);
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3 {
    color: #b83c3c;
    font-weight: 800;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:  #041e42;
}
#newsletter h4{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span {
    color: #ffbd27;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff ;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}
footer .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    padding-bottom: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    padding-bottom: 12px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
/* @media (max-width :799px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
    }

        #navbar li{
            margin-bottom: 25px;

        }
} */
 #page-header{
    background-image: url(https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmFzaGlvbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    width: 100%;
    height: 40vh;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    padding: 14px;
 }
  #page-header h2, #page-header p{
    color: #fff;
  }
  #pagination{
    text-align: center;

  }
   #pagination a{
    text-decoration: none;
    background-color: #088178;
    padding:15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
   }
   #pagination a i{
    font-size: 16px;
    font-weight: 600;
   }
  #prodetail {
      display: flex;
      margin-top: 20px;
  }

  #prodetail .single-pro-image {
      width: 40%;
      margin-right: 50px;
  }
   .small-image-group{
    display: flex;
    justify-content: space-between;
   }
   .small-img-col{
    flex-basis: 18%;
    cursor: pointer;
   }
   #prodetail{
    display: flex;
    margin-top: 20px;
   }

   #prodetail .single-pro-detail{
    width: 50%;
    padding-top: 30px;

   }
#prodetail .single-pro-detail h4{
    padding: 40px 0 20px 0;
   }
#prodetail .single-pro-detail h2 {
    font-size: 26px;
}
#prodetail .single-pro-detail select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}
#prodetail .single-pro-detail input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
     
}
#prodetail .single-pro-detail input:focus{
    outline: none;
}
#prodetail .single-pro-detail button{
    background: #088178;
    color: #fff;

}
#prodetail .single-pro-detail span{
    line-height: 25px;
}
#page-header.blog-header{
    background-image: url(https://couragetonourish.com/wp-content/uploads/2022/02/hannah-morgan-ycVFts5Ma4s-unsplash.jpg);
        width: 100%;
        height: 40vh;
        background-size: cover;
        text-align: center;
        flex-direction: column;
        padding: 14px;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-detail {
    width: 50%;
} 
#blog .blog-detail a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}
#blog .blog-detail a::after{
    content: "";
    width: 50pxx;
    height: 1px;
    background-color: #000;
    position:absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-detail a:hover{
    color: #088178;
}
#blog .blog-detail a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 600;
    color: #c9cbce;
    z-index: -9;
}

/* page about */

#page-header.about-header{
    background-image: url(https://img.pikbest.com/photo/20241119/rack-of-thrift-store-clothing-on-background_11104444.jpg!bw700);
}

#about-head {
    display: flex;
    align-items: center;

}

#about-head img{
    width: 50%;
    height: auto;
    padding: 20px;
}
#about-head div{
    padding-left: 40px;
}
#contact-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-detail .detail{
    width: 40%;

}
#contact-detail .detail span,
#form-detail form span{
    font-size: 12px;
}
#contact-detail .detail h2,
#form-detail form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-detail .detail h3 {
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-detail .detail li{
    list-style: none;
    display: flex;
    padding: 10px 0;

}
#contact-detail .detail li i{
    font-size: 14px;
    padding-right: 22px;

}
#contact-detail .detail li p{
    margin: 0;
    font-size: 14px;

}
#form-detail{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-detail form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px 20px 20x;
    max-width: 450px

}
#form-detail form input,
#form-detail form textarea
{
    width: 100%;
    padding:10px 12px;
    outline: none;
    margin-bottom: 20px;
    font-size: 13px;
    border: 1px solid #e1e1e1;
}
#form-detail form button{
    background-color: #088178;
    color: #fff;
    align-items: center;
}
#form-detail .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-detail .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-detail .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-detail .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;

}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;


}
#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;

}
#cart table td:nth-child(5) input{

    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody td{
    padding-top: 15px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;

}
#coupon h3,
#total h3 {
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px ;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#total button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;

}
#total{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e1e9e1;
    padding: 30px;
}
#total table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}
#total table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}